.container {
  border: 2px solid #f1f1f1;
  background-color: #ffffff;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0;
  word-wrap: break-word;
  margin-right: 30px;
    -webkit-box-shadow: 13px 13px 9px -8px rgba(0,0,0,0.14);
    -moz-box-shadow: 13px 13px 9px -8px rgba(0,0,0,0.14);
    box-shadow: 13px 13px 9px -8px rgba(0,0,0,0.14);
}

.darker {
  border-color: #effcde;
  background-color: #effcde;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.time-right {
  float: right;
  color: #A9A9A9;
}

.message{
  width: 800px;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 14px;
  resize: none;
}
